
  * {
    box-sizing: border-box;
    font-size: 20px
  }


  body {
      
    font-family: Arial, Helvetica, sans-serif; 
    width: 100vw;
    height: 100vh;
  } 

  p {
    border: 2px solid powderblue;
  } 

   header {
  
    position:static;
    left: 0;
    bottom: 0;
    width: 100% ;
    padding: 60px;
    text-align: center;
    background: #ee83db;
    color: rgb(0, 0, 0);
    font-size: 100px;
    grid-area: header ;
    animation: rainbow 5s ease-in-out 0.5s 1;
  } 
  
    .had {
        padding: 5px;
        text-align: center;
        font-size:larger;
    }
    
    .links {
        display:grid;
        justify-content: center;
        margin: 20px auto;
    
    } 
  
  
       #container {

        grid-template-areas:
        'header header header'
        'main main main'
        'main main main'
        'footer footer footer';
        grid-template-columns: 1fr 1fr 1fr ;
        grid-template-rows: 1fr 1fr 1fr;
        grid-gap: 15px;
        padding: 10px;
        box-sizing: border-box;
     } 

     #container div {
        padding: 10px;
       
      } 
    nav {
        background: rgb(245, 194, 233);
        padding: 15px;
        font-size: 15px;
      }

      nav ul {
        list-style-type: none;
        padding: 0;
        display: flex;
        text-align:center;
        align-items: center;
        justify-items: center;
        overflow: hidden;
      }
    
      article {
        float: left;
        padding: 20px;
        width: 70%;
        background-color: #f4f4f4;
        height:max-content; 
      }
      
      a {
        grid-area: Main;
        font-size: 20px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-decoration: none;
        background-color: #f7d9f4df;
        padding: 15px 15px;
        border-radius: 5px;
      }
      
      b {
        grid-area: Nav;
      }

      footer {
        grid-area: footer;
          position:fixed;
          left: 0;
          bottom: 0;
          width: 100%;
          background-color: rgb(139, 137, 137);
          color: white;
          text-align: center;
          padding: 10px;
      }
      @keyframes rainbow {
        66% {
          color:pink;
        }
      
      } 
       
        .markURL{
          padding: 0;
          background-color: deeppink;
        }



      .content1:hover {
        opacity: 0.7;
        transform: scale(0.98);
      }  
 
  
 
 