<!DOCTYPE html>
<html dir="rtl">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>FOOD</title>
        <link rel="stylesheet" href="../static/CSShomepage.css">
        <script type = "text/javascript" src="../static/JShomepage.js"></script>  
        
             
    </head>
    <body>
      <div class="container">
      <header>

        <div id="had">
          <h2>FOOD LOVER</h2>
        </div>
          <div class="links">
          <a href="contact.html">Contact  </a>
          <a href="homepage.html">Home Page  </a>
         
        </div>
      </header>

          <div class="nav">
      <nav>
          <ul>
              <li>
                  <a href="{{ url_for('HomePage_func') }}">Home</a>
              </li>
              <li>
                  <a href="{{ url_for('Contact_func') }}">Contact</a>
              </li>
          </ul>
      </nav>
  </div>
          <div class="b">
          <nav>
              <div class="links">
              <ul>
                <li><a href="#">Instagram</a></li>
                <li><a href="#">FaceBook</a></li>
                <li><a href="#">Twitter</a></li>
              </ul>
            </div>
            </nav>
          </div>
          <article>
            <div class="a">
              רוצים לספר לנו על מסעדה שביקרתם בה לאחרונה, או על אוכל טעים ומזין שנתקלתם בו,
          
          אולי לספר לו על שווקים מרחבי העולם
          
          או לשתף אותנו במתכונים ובעצות לאורח חיים בריא
          
          אתם מזומנים ליצור עמנו קשר בכל שאלה, תהייה וסתם לשתף!
          </div>
          
          <img src="../static/contactPIC.jpeg" alt="contact" width="450" height="200">
          <form action="URL" method="post">

            <label for="Full name">שם מלא</label><br>
            <input type="text" maxlength="20" id="full name" placeholder="full name" name="Full name"><br>
            <label for="email">אימייל</label><br>
            <input type="email" id="email" name="email" placeholder="email"><br>
            <label for="phone">טלפון</label><br>
            <input type="phone" maxlength="20" name="phone"  id="phone" placeholder="phone"><br><br>
            
            
            <label for="user-text">עוד פרטים</label><br>
            <textarea name="user-text"  cols="30" rows="6" placeholder= "מה הבקשה?" ></textarea><br>
        
            <label for="choose">תבחר את סיבת הפנייה: </label><br>
            <input type="radio" name="choose">שיתוף
            <input type="radio" name="choose">שאלה
            <input type="radio" name="choose">אחר
            <input type="submit" value="אישור">
        <br>
        <br>
        <br>
        </form>
                </article>
            
    <footer>
        <a href="homepage.html">homepage</a>
        <a href="contact.html">Contact</a>
   
      </footer>
    </div>
</body>
</html>