{% extends 'base.html' %}

{% block title %}Fetch - BackEnd{% endblock %}

{% block content %}

    <h1>Fetch - BackEnd</h1>
    <h3>Sync:</h3>
    <form action="/assignment4/backend" method="get">
        Num: <input type="text" name="num" value={{ session.num | default(3, true) }}>
        <input type="hidden" name="type" value="sync">
        <input type="submit" value="Get users">
    </form>

    {% if session.users %}
        {% for user in session.users %}
            <img src="{{ user.sprites}}" alt="pic">
            <h4>Name: {{ user.first_name }}</h4>
            <h4>Name: {{ user.last_name }}</h4>
            <h4>Name: {{ user.email }}</h4>
            <hr>
            <br>
        {% endfor %}
    {% endif %}
{% endblock %}