<!DOCTYPE html>
<html dir="rtl">
<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>homepage</title>
    <link rel="stylesheet" href="../static/CSShomepage.css">
    <script type = "text/javascript" src="../static/JShomepage.js"></script>  
      

</head>
<body>
  <div class="container">
   <header> 
      <div id="had">
        <h2>FOOD LOVER</h2>
      </div>
        <div class="links">
        <a href="contact.html">Contact  </a>
        <a href="homepage.html">Home Page  </a>
        
      </div>
    </header>
  
      <div class="b">
      <nav>
        <div class="links">
        <ul>
          <li><a href="#">Instagram</a></li>
          <li><a href="#">FaceBook</a></li>
          <li><a href="#">Twitter</a></li>
        </ul>
      </div>
      </nav>
    </div>
      <article>
        <div class="a">
        <h2>קצת עליי</h2>
        <p>אוכל תמיד היה אהבתי הגדולה. במשך השנים למדתי לבשל ולצבור ניסיון, תוך כדי בישול לאנשים שאני אוהבת.</p>
     
        <img src="../static/foodPIC.jpeg" alt="food" width="500" height="333">
      
    
        <p>רוב האוכל שלי מתמקד  <span style="border: 1px solid black">בחומרי גלם, זמינים ועונתיים</span> מאלה בעצם באה לי ההשראה למתכון חדש</p>
        <div  style="border: 1px solid rgb(222, 99, 208)"> אני תמיד משתדלת להשתמש בחומרי גולם עונתיים, דברים זמינים מהטבע והגינה שלי, אוהבת להשתמש בתבלינים טריים</div>
       
        <div> מלבד המתכונים שאני כותבת לבלוג אני מתחזקת דף אינסטגרם ופייסבוק ומעלה שם מתכונים באופן יומיומי . כאן בבלוג אני משאירה מתכונים וכמויות מדויקות</div>
        <iframe width="500" height="400" src="../static/foodVIDEO.mp4"></iframe>
      </div>
    
        <h2>במה הבלוג שלי עוסק?</h2>
        <button onclick="ButtonFunction()">אישור גיל </button>
        <p id="demo"></p>
     <ul>
        <li>FOOD</li>
        <li>LOVE</li>
        <li>PEOPLE</li>
      </ul> 
            </article>
         
        </div>
      <footer>
        <a href="homepage.html">homepage</a>
        <a href="contact.html">Contact</a>
        
      </footer>
    </div>
</body>
</html>