{% extends 'base.html' %}


{% block content %}
    <h1>Insertion form: creat a new user</h1>
    <form action="/insert_user" , method="post" >
    <br>
        <input type="text" name="name" placeholder="Insert Name">
        <input type="text" name="last_name" placeholder="Insert Last name">
        <input type="email" name="email" placeholder="Insert your email">
        <input type="password" name="password" placeholder="Insert password">
        <input type="submit" value = "Creat">
        </form>
    <br>
     <h1>Update form: update your email or password </h1>
     <form action="/update_user" method="post">
        <h3>write your name to update your details </h3>
        <input type="text" name="name" placeholder="Insert  your Name">
        <br>
        <br>
        <input type="email" name="email" placeholder="Insert your  new email">
        <input type="password" name="password" placeholder="Insert new password">
        <input type="submit" value="Update">
     </form>

    <h1>Deletion form: choose a  user name</h1>
    <br>
    <form action="/delete_user" method="post">
        <input type="text" name="name" placeholder="Insert Name">
        <input type="text" name="last_name" placeholder="Insert Last Name">
        <input type="submit" value="Delete">

    </form>
    {% if message %}
            <h3 style="color: red">{{ message }}</h3>
    {% endif %}
    <h1>List of all the users : </h1>
    {% if users %}
    <br>
        {% for user in users %}
            <div id = NUM1>
                <h3>Name :{{ user.name }}  </h3>
                <h3>Last Name: {{ user.last_name }}</h3>
                <h4>Email: {{ user.email }}</h4>
            </div>

        {% endfor %}
    {% endif %}
{% endblock %}

{{ super() }}